carbontracker==1.1.2
h5py==2.10.0
matplotlib==3.1.3
mne==0.21.0
numpy==1.18.1
pandas==1.0.1
psutil==5.6.7
ruamel.base==1.0.0
scikit-learn==0.22.1
scipy==1.4.1
tables==3.6.1
tabulate==0.8.6
tensorflow-addons==0.7.0
tensorflow==2.1.0
tensorflow-probability==0.8.0
wfdb==3.1.1
